<div class="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- <app-page-title title="Trailer" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
            <!-- <app-nav-bar title="Trailer" [breadcu]="navigationList"></app-nav-bar> -->
        </div>
        <section class="content my-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h4 class="card-title mb-0">
                                    <span *ngIf="isAdd">New Trailer</span>
                                    <span *ngIf="!isAdd">Edit Trailer</span>
                                </h4>
                                <div class="button-group d-flex">
                                    <button
                                        class="btn btn-info btn-sm me-1"
                                        (click)="saveTrailer()"
                                        [disabled]="!trailerForm.valid">
                                        Save
                                    </button>
                                    <button
                                        class="btn btn-danger btn-sm"
                                        (click)="navigateToTrailer()">
                                        Cancel
                                    </button>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form [formGroup]="trailerForm">
                                        <div class="row my-0">
                                          <label class="col-md-2 requiredfield" *ngIf="isAdd">Vehicle Reg No:</label>
                                          <label class="col-md-2 requiredfield" *ngIf="!isAdd">Vehicle Reg No:</label>
                                          <div class="form-group col-md-4">
                                            <ejs-textbox
                                                formControlName="vehicleRegNo"
                                                placeholder="Enter Vehicle Reg No."
                                                tabindex="0" maxlength="50" />
                                            <div *ngIf="trailerForm.controls['vehicleRegNo'].invalid && (trailerForm.controls['vehicleRegNo'].touched || trailerForm.controls['vehicleRegNo'].dirty)">
                                                <small class="text-danger">This field is required.</small>
                                            </div>
                                        </div>
                                        <label class="col-md-2">Vehicle BackRegNo:</label>
                                        <div class="form-group col-md-4">
                                            <ejs-textbox
                                                formControlName="vehicleBackRegNo"
                                                placeholder="Enter Vehicle BackRegNo"
                                                autocomplete="off"
                                                tabindex="1" maxlength="100"/>
                                        </div>
                                        </div>
                                        <div class="row mt-3">
                                            <label class="col-md-2 requiredfield">Container Type:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-dropdownlist 
                                                formControlName="containerType"
                                                [dataSource]="containerTypeList"
                                                placeholder="Choose Container Type"
                                                tabindex="2">
                                              </ejs-dropdownlist>
                                              <div *ngIf="trailerForm.controls['containerType'].invalid && (trailerForm.controls['containerType'].touched || trailerForm.controls['containerType'].dirty)">
                                                <small class="text-danger">This field is required.</small>
                                              </div>
                                            </div>
                                            <label class="col-md-2 requiredfield">Container Size:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-dropdownlist 
                                                formControlName="containerSize"
                                                [dataSource]="containerSizeList"
                                                placeholder="Choose Container Size"
                                                tabindex="3">
                                              </ejs-dropdownlist>
                                              <div *ngIf="trailerForm.controls['containerSize'].invalid && (trailerForm.controls['containerSize'].touched || trailerForm.controls['containerSize'].dirty)">
                                                <small class="text-danger">This field is required.</small>
                                              </div>
                                            </div>
                                          </div>
                                        <div class="row mt-3">
                                            <label class="col-md-2 requiredfield">Transporter:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-dropdownlist
                                                    formControlName="transporterID"
                                                    [dataSource]="transporterNames"
                                                    [fields]="{ text: 'transporterName', value: 'transporterID' }"
                                                    autocomplete="off"
                                                    placeholder="Choosse Transporter"
                                                    tabindex="4"
                                                    maxlength="100"/>
                                                    <div *ngIf="trailerForm.controls['transporterID'].invalid && (trailerForm.controls['transporterID'].touched || trailerForm.controls['transporterID'].dirty)">
                                                        <small class="text-danger">This field is required.</small>
                                                    </div>
                                            </div>
                                            <label class="col-md-2">Trailer Weight:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-numerictextbox
                                                formControlName="trailerWeight"
                                                autocomplete="off"
                                                placeholder="Enter Trailer Weight"
                                                tabindex="5"
                                                maxlength="100"/>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <label class="col-md-2 requiredfield">Driver LicenseNo.:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-dropdownlist
                                                formControlName="driverLicenseNo"
                                                [dataSource]="driverLicenseNoList"
                                                [fields]="{text:'driverName',value:'licenseNo'}"
                                                autocomplete="off"
                                                placeholder="choose Driver License Number"
                                                tabindex="6"
                                                maxlength="100"/>
                                                <div *ngIf="trailerForm.controls['driverLicenseNo'].invalid && (trailerForm.controls['driverLicenseNo'].touched || trailerForm.controls['driverLicenseNo'].dirty)">
                                                    <small class="text-danger">This field is required.</small>
                                                </div>
                                            </div>
                                            <label class="col-md-2">Last Passed Date:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-datepicker
                                                    formControlName="lastPassedDate"
                                                    [format]="formatfilter"
                                                    autocomplete="off"
                                                    placeholder="Last Passed Date"
                                                    tabindex="7"
                                                    maxlength="100">
                                                </ejs-datepicker>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <label class="col-md-2">IsActive:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-checkbox formControlName="active" tabindex="8"></ejs-checkbox>
                                            </div>
                                            <label class="col-md-2">Remarks:</label>
                                            <div class="form-group col-md-4">
                                                <textarea
                                                    formControlName="remarks"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off"
                                                    placeholder="Remarks "
                                                    tabindex="9"
                                                    maxlength="100"></textarea>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="row col-6">
                                            <div class="col-md-4 col-sm-6"></div>
                                            <div class="col-md-2 col-sm-6">
                                                <button
                                                    class="btn btn-block btn-info"
                                                    (click)="saveTrailer()"
                                                    [disabled]="!trailerForm.valid">
                                                    Save</button>&nbsp;
                                            </div>
                                            <div class="col-md-2 col-sm-6">
                                                <button
                                                class="btn btn-block btn-danger"
                                                (click)="navigateToTrailer()">
                                                Cancel
                                            </button>
                                        </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
  