<section class="content mt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
                <li class="breadcrumb-item">Truck</li>
                <li class="breadcrumb-item active text-primary">Truck Info</li>
              </ol>
            </div>
        </div>
        <div class="row">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <form [formGroup]="truckForm">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 text-left">
                              <h5 class="card-title">Truck Info</h5>
                            </div>
                            <div class="col-md-6 col-lg-6 text-end">
                                <button type="submit" class="btn btn-sm btn-primary mr-2 " [disabled]="!truckForm.valid"  *ngIf="isAdd" (click)="saveTruck()"><i class="fa fa-save"></i>  &nbsp;Save</button>
                                <button type="submit" class="btn btn-sm btn-primary mr-2 " [disabled]="!truckForm.valid"  *ngIf="!isAdd" (click)="saveTruck()"><i class="fa fa-save"></i>  &nbsp;Update</button>
                              <a routerLink="master/truck" class="btn btn-sm btn-secondary m-1" href="master/truck">
                                <i class="fa fa-arrow-circle-left"></i> &nbsp; Back
                              </a>
                            </div>
                          </div><br>
                          
                        <div class="row my-0">
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal requiredfield" *ngIf="isAdd">Vehicle Reg No.</label>
                            <label class="font-weight-normal requiredfield" *ngIf="!isAdd">Vehicle Reg No.</label>
                              <ejs-textbox
                                  formControlName="vehicleRegNo" class="text-uppercase"
                                  tabindex="0" maxlength="50" />
                              <div *ngIf="truckForm.controls['vehicleRegNo'].invalid && (truckForm.controls['vehicleRegNo'].touched || truckForm.controls['vehicleRegNo'].dirty)">
                                  <small class="text-danger">This field is required.</small>
                              </div>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal">Vehicle Back RegNo.</label>
                              <ejs-textbox
                                  formControlName="vehicleBackRegNo"
                                  class="text-uppercase"
                                  autocomplete="off"
                                  tabindex="1" maxlength="100"/>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal">Container Type</label>
                              <ejs-dropdownlist
                                  formControlName="containerType"
                                  [dataSource]="containerTypeList"
                                  placeholder="Choose Container Type"
                                  autocomplete="off"
                                  tabindex="2"
                                  maxlength="100" />
                          </div>
                        </div>
                        
                        <div class="row mt-2">
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal">Container Size</label>
                              <ejs-dropdownlist
                                  formControlName="containerSize"
                                  [dataSource]="containerSizeList"
                                  autocomplete="off"
                                  placeholder="Choose Container Size"
                                  tabindex="3"
                                  maxlength="100"/>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal requiredfield">Truck Type</label>
                            <ejs-dropdownlist
                              formControlName="typeID"
                              [dataSource]="truckTypeList"
                              [fields]="{ text: 'description', value: 'typeID' }"
                              autocomplete="off"
                              placeholder="Choose Truck Type"
                              tabindex="4"
                              maxlength="100">
                            </ejs-dropdownlist>
                            <div *ngIf="truckForm.controls['typeID'].invalid && (truckForm.controls['typeID'].touched || truckForm.controls['typeID'].dirty)">
                              <small class="text-danger">This field is required.</small>
                            </div>
                          </div>
                            <div class="form-group col-md-4">
                              <label class="font-weight-normal">Truck Weight</label>
                                <ejs-numerictextbox
                                    formControlName="truckWeight"
                                    placeholder="Enter Truck Weight"
                                    [min]="0"
                                    [max]="100000"
                                    [decimals]="2"
                                    autocomplete="off"
                                    tabindex="5"
                                    maxlength="100"/>
                            </div>
                        </div>

                        <div class="row mt-2">
                          <div class="form-group col-md-4">
                            <label class="font-weight-normal requiredfield">Transporter</label>
                            <ejs-dropdownlist
                              formControlName="transporterID"
                              [dataSource]="transporterNames"
                              [fields]="{ text: 'transporterName', value: 'transporterID' }"
                              autocomplete="off"
                              placeholder="Choose Transporter"
                              tabindex="6"
                              maxlength="100">
                            </ejs-dropdownlist>
                            <div *ngIf="truckForm.controls['transporterID'].invalid && (truckForm.controls['transporterID'].touched || truckForm.controls['transporterID'].dirty)">
                              <small class="text-danger">This field is required.</small>
                            </div>
                          </div>
                            <div class="form-group col-md-4">
                              <label class="font-weight-normal">Driver</label>
                                <ejs-dropdownlist
                                    formControlName="driverLicenseNo"
                                    [dataSource]="driverLicenseNoList"
                                    [fields]="{text:'driverName',value:'licenseNo'}"
                                    placeholder="Choose Driver"
                                    autocomplete="off"
                                    tabindex="7"
                                    maxlength="100"/>
                                    <div *ngIf="truckForm.controls['driverLicenseNo'].invalid && (truckForm.controls['driverLicenseNo'].touched || truckForm.controls['driverLicenseNo'].dirty)">
                                      <small class="text-danger">This field is required.</small>
                                  </div>
                            </div>
                            <div class="form-group col-md-4">
                              <label class="font-weight-normal">Remarks</label>
                              <textarea 
                                formControlName="remarks" class="form-control form-control-sm"
                                tabindex="11" autocomplete="off" 
                                placeholder="Remarks" maxlength="120"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                          <div class="form-group col-md-4">
                            <ejs-checkbox formControlName="active" tabindex="8" label="IsActive" [checked]="true"></ejs-checkbox>
                          </div>
                          <div class="form-group col-md-4">
                              <ejs-checkbox formControlName="isRGL" label="IsRGl" tabindex="10" [checked]="true"></ejs-checkbox>
                          </div>
                        </div>
                          
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

