<div class="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- <app-page-title title="Truck" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
        </div>
        <section class="content my-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h4 class="card-title mb-0">
                                <span *ngIf="isAdd">New Truck</span>
                                <span *ngIf="!isAdd">Edit Truck</span>
                            </h4>
                            <div class="button-group d-flex">
                                <button
                                    class="btn btn-info btn-sm me-1"
                                    (click)="saveTruck()"
                                    [disabled]="!truckForm.valid">
                                    Save
                                </button>
                                <button
                                    class="btn btn-danger btn-sm"
                                    (click)="navigateToTruck()">
                                    Cancel
                                </button>
                            </div>
                    </div>
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form [formGroup]="truckForm">
                                        <div class="row my-0">
                                          <label class="col-md-2 requiredfield" *ngIf="isAdd">Vehicle Reg No.:</label>
                                          <label class="col-md-2 requiredfield" *ngIf="!isAdd">Vehicle Reg No.:</label>
                                          <div class="form-group col-md-4">
                                              <ejs-textbox
                                                  formControlName="vehicleRegNo"
                                                  class="form-control form-control-sm"
                                                  tabindex="0" maxlength="50" />
                                              <div *ngIf="truckForm.controls['vehicleRegNo'].invalid && (truckForm.controls['vehicleRegNo'].touched || truckForm.controls['vehicleRegNo'].dirty)">
                                                  <small class="text-danger">This field is required.</small>
                                              </div>
                                          </div>
                                          <label class="col-md-2">Vehicle BackRegNo:</label>
                                          <div class="form-group col-md-4">
                                              <ejs-textbox
                                                  formControlName="vehicleBackRegNo"
                                                  class="form-control form-control-sm"
                                                  placeholder="Enter Vehicle BackRegNo"
                                                  autocomplete="off"
                                                  tabindex="1" maxlength="100"/>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2">Container Type:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-textbox
                                                    formControlName="containerType"
                                                    class="form-control form-control-sm"
                                                    placeholder="Enter ContainerType"
                                                    autocomplete="off"
                                                    tabindex="2"
                                                    maxlength="100" />
                                            </div>
                                            <label class="col-md-2">Container Size:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-textbox
                                                    formControlName="containerSize"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off"
                                                    placeholder="Enter Container Size"
                                                    tabindex="3"
                                                    maxlength="100"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <label class="col-md-2 requiredfield">Truck Type:</label>
                                          <div class="form-group col-md-4">
                                            <ejs-dropdownlist 
                                              formControlName="typeID"
                                              [dataSource]="truckTypeList"
                                              [fields]="{ text: 'description', value: 'typeID' }"
                                              class="form-control form-control-sm"
                                              autocomplete="off"
                                              placeholder="Choose Truck Type"
                                              tabindex="4"
                                              maxlength="100">
                                            </ejs-dropdownlist>
                                            <div *ngIf="truckForm.controls['typeID'].invalid && (truckForm.controls['typeID'].touched || truckForm.controls['typeID'].dirty)">
                                              <small class="text-danger">This field is required.</small>
                                            </div>
                                          </div>
                                          <label class="col-md-2">Truck Weight:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-textbox
                                                    formControlName="truckWeight"
                                                    class="form-control form-control-sm"
                                                    placeholder="Enter Truck Weight"
                                                    autocomplete="off"
                                                    tabindex="5"
                                                    maxlength="100"/>
                                            </div>
                                          <!-- <label class="col-md-2">Remarks:</label>
                                              <div class="form-group col-md-4">
                                                <textarea formControlName="remarks" 
                                                class="form-control form-control-sm"
                                                placeholder="Remarks"
                                                autocomplete="off"
                                                tabindex="2"
                                                maxlength="100"></textarea>
                                              </div> -->
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2 requiredfield">Transporter:</label>
                                          <div class="form-group col-md-4">
                                            <ejs-dropdownlist 
                                              formControlName="transporterID"
                                              [dataSource]="transporterNames"
                                              [fields]="{ text: 'transporterName', value: 'transporterID' }"
                                              class="form-control form-control-sm"
                                              autocomplete="off"
                                              placeholder="Choose Transporter"
                                              tabindex="6"
                                              maxlength="100">
                                            </ejs-dropdownlist>
                                            <div *ngIf="truckForm.controls['transporterID'].invalid && (truckForm.controls['transporterID'].touched || truckForm.controls['transporterID'].dirty)">
                                              <small class="text-danger">This field is required.</small>
                                            </div>
                                          </div>
                                            <label class="col-md-2">Driver LicenseNo.:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-textbox
                                                    formControlName="driverLicenseNo"
                                                    class="form-control form-control-sm"
                                                    placeholder="Enter Driver LicenseNo."
                                                    autocomplete="off"
                                                    tabindex="7"
                                                    maxlength="100"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2">Active:</label>
                                            <div class="form-group col-md-4">
                                                <ejs-checkbox formControlName="active" tabindex="8" [checked]="true"></ejs-checkbox>
                                            </div>
                                            <label class="col-md-2">Last Passed Date:</label>
                                        <div class="form-group col-md-4">
                                            <ejs-datepicker
                                                formControlName="lastPassedDate"
                                                class="form-control form-control-sm"
                                                [format]="formatfilter"
                                                autocomplete="off"
                                                placeholder="Last Passed Date"
                                                tabindex="9"
                                                maxlength="120">
                                            </ejs-datepicker>
                                        </div>
                                      </div>
                                        <!-- <div class="row">
                                            <label for="blackDate" class="col-md-2">Black Date:</label>
                                              <div class="form-group col-md-4">
                                                  <ejs-datepicker formControlName="blackDate" class="form-control form-control-sm" autocomplete="off"
                                                  tabindex="10" maxlength="100"
                                                   [format]="formatfilter" floatLabelType='Always'>
                                                  </ejs-datepicker>
                                              </div>
                                              <label class="col-md-2">Black Reason:</label>
                                              <div class="form-group col-md-4">
                                                  <textarea formControlName="blackReason"
                                                      class="form-control form-control-sm"
                                                      placeholder="Black Reason"
                                                      autocomplete="off"
                                                      tabindex="11"
                                                      maxlength="100">
                                                    </textarea>
                                              </div>
                                        </div>
                                      <div class="row">
                                        <label class="col-md-2">Black Removed Date:</label>
                                        <div class="form-group col-md-4">
                                            <ejs-datepicker class="form-control form-control-sm" formControlName="blackRemovedDate" autocomplete="off"
                                            tabindex="15"
                                            [format]="formatfilter"
                                            floatLabelType="Always"
                                            maxlength="100"></ejs-datepicker>
                                        </div>
                                        <label class="col-md-2">Black Removed Reason:</label>
                                        <div class="form-group col-md-4">
                                            <textarea
                                                formControlName="blackRemovedReason"
                                                class="form-control form-control-sm"
                                                autocomplete="off"
                                                placeholder="Black Removed Reason"
                                                tabindex="16"
                                                maxlength="150">
                                            </textarea>
                                        </div>
                                      </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
  