<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-primary">TMS Proposal</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="card-title">TMS Proposal</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-12 text-left">
              <Form [formGroup]="optionForm">
                 <div class="row mb-2">
                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">From</label>
                      <ejs-datepicker formControlName="fromDate" [format]="formatfilter" floatLabelType='Always'>
                      </ejs-datepicker>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">To</label>
                      <ejs-datepicker formControlName="toDate"   [format]="formatfilter"   floatLabelType='Always'>
                      </ejs-datepicker>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">Dept Type</label>
                      <ejs-multiselect formControlName="deptType" [dataSource]='deptTypeList'  tabindex="4" [mode]='mode' [placeholder]='placeholder' [selectAllText]='selectAllText' showSelectAll=true></ejs-multiselect>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 align-self-end">
                    <div class="mb-2">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="!optionForm.valid" (click)="loadTableData()">
                        <i class="fas fa-eye"></i> &nbsp; View
                      </button>
                    </div>
                  </div>
                </div>
              </Form>
            </div>
          </div>
          <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
            <e-columns>
              <e-column field='yard' headerText="Yard" width="100"></e-column>
              <e-column field='estDate' headerText='Estimate Date' type="date" format="dd-MM-yyyy" width="130"></e-column>
              <e-column field='jobCode' headerText="JobCode" width="100"></e-column>
              <e-column field='jobDept' headerText="JobDept" width="150"></e-column>
              <e-column field='jobType' headerText="JobType" width="100"></e-column>
              <e-column field='noOfTruck' headerText="NoOfTruck" width="100"></e-column>
              <e-column field='noOfTEU' headerText="NoOfTEU" width="100"></e-column>
              <e-column field='noOfFEU' headerText="NoOfFEU" width="100"></e-column>
              <e-column field='lclQty' headerText="LCLQty" width="100"></e-column>
              <e-column field='areaID' headerText="Operation Area" width="250"></e-column>
              <e-column field='pcCode' headerText="Category" width="100"></e-column>
              <e-column field='status' headerText="Status" width="100"></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
  </div>
  </div>

  <ejs-dialog #closeModel isModal="true"  [showCloseIcon]="true" height="48%" width="500px"  allowDragging="true" [visible]="false">
    <ng-template #header>
      <div class="font-weight-bold">Status Close Form</div>
    </ng-template>
    <form [formGroup]="closeForm">
    <div class="row">
      <div class="form-group col-md-12">
        <label  class="requiredfield">Job Dept</label>
        <ejs-dropdownlist formControlName="jobDept" tabindex="3" [dataSource]="deptList"  popupHeight='200px' placeholder="Select One" ></ejs-dropdownlist>
        <div [style.visibility]='validateControl("jobDept")? "visible": "hidden"'>
          <label class="e-error" style="display: block;">*Job Dept is required</label>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="e-float-input e-control-wrapper">
          <input formControlName="file" id="file" type="file" accept=".xlsx" (change)="handleFileInput($any($event.target).files)" style="padding-top: 2px;">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top requiredfield" for="file">Excel File</label>
        </div>
        <div [style.visibility]='validateControl("jobDept")? "visible": "hidden"'>
          <label class="e-error" style="display: block;">* Import file is required</label>
        </div>
      </div>
    </div>
      <ng-template #footerTemplate>
        <button  class="e-edit-dialog e-control e-btn e-lib e-primary e-flat" type="submit" [disabled]="!this.closeForm.valid"  ejs-button (click)="onCloseFormSubmit()">Save</button>
        <button  class="e-edit-dialog e-control e-btn e-lib e-flat" (click)="closeModel.hide()" ejs-button >Close</button>
      </ng-template>
    </form>
  </ejs-dialog>

  <!-- <ejs-dialog #customerModel isModal="true"  [showCloseIcon]="true" height="67%" width="700px"  allowDragging="true" [visible]="false">
    <ng-template #header>
      <div class="font-weight-bold">Detail Form Customer</div>
    </ng-template>
    <form [formGroup]="customerForm">
    <div class="row">
      <div class="form-group col-md-6">
        <label  class="requiredfield">Assign Type</label>
        <ejs-textbox  formControlName="assignType" [readonly]="true" tabindex="1" ></ejs-textbox>
        <div [style.visibility]='customerValidateControl("assignType")? "visible": "hidden"'>
          <label class="e-error" style="display: block;">*Assign Type is required</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label  class="requiredfield">Job Type</label>
        <ejs-textbox  formControlName="jobType" maxLength="50" tabindex="2" ></ejs-textbox>
        <div [style.visibility]='customerValidateControl("jobType")? "visible": "hidden"'>
          <label class="e-error" style="display: block;">*Jobtype is required</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label  class="requiredfield">TruckNo</label>
        <ejs-dropdownlist formControlName="truckNo" tabindex="2" [dataSource]='cusTruckList' [fields]="{ text: 'vehicleRegNo', value: 'vehicleRegNo' }" (change)="onCusTruckChange($event.value)"></ejs-dropdownlist>
        <div [style.visibility]='customerValidateControl("truckNo")? "visible": "hidden"'>
          <label class="e-error" style="display: block;">*Truck No is required</label>
        </div>
      </div>
      <div class="form-group col-md-6" >
        <label  class="requiredfield">Driver Name</label>
        <ejs-textbox  formControlName="driverName" [readonly]="true" tabindex="3" ></ejs-textbox>
      </div>
      <div class="form-group col-md-6" >
        <label  class="requiredfield">Driver Contact</label>
        <ejs-textbox  formControlName="driverContact" [readonly]="true" tabindex="4" ></ejs-textbox>
      </div>
      <div class="form-group col-md-6" >
        <label>OtherInfo</label>
        <ejs-textbox  formControlName="otherInfo" tabindex="6" ></ejs-textbox>
      </div>
      <div class="form-group col-md-6">
        <div class="mb-2 mt-4">
          <ejs-checkbox formControlName="nightStop" label="Night Stop"></ejs-checkbox>
        </div>
      </div>
     </div>
      <ng-template #footerTemplate>
        <button  class="e-edit-dialog e-control e-btn e-lib e-primary e-flat" type="submit" [disabled]="!this.customerForm.valid"  ejs-button (click)="onCustomerSubmit()">Save</button>
        <button  class="e-edit-dialog e-control e-btn e-lib e-flat" (click)="customerModel.hide()" ejs-button >Close</button>
      </ng-template>
    </form>
  </ejs-dialog> -->
</section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

