<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-primary">In Check(TMS Proposal)</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="card-title">In Check (TMS Proposal)</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-12 text-left">
              <Form [formGroup]="optionForm">
                 <div class="row mb-2">
                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">From</label>
                      <ejs-datepicker formControlName="fromDate" [format]="formatfilter" floatLabelType='Always'>
                      </ejs-datepicker>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">To</label>
                      <ejs-datepicker formControlName="toDate"   [format]="formatfilter"   floatLabelType='Always'>
                      </ejs-datepicker>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                    <div class="mb-2">
                      <label class="requiredfield">Yard</label>
                      <ejs-multiselect formControlName="yardID" [dataSource]='yardList' [fields]="{ text: 'name', value: 'yardID' }" placeholder="Select One"  tabindex="4" [mode]='mode' [placeholder]='placeholder' [selectAllText]='selectAllText' showSelectAll=true></ejs-multiselect>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 align-self-end">
                    <div class="mb-2">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="!optionForm.valid" (click)="loadTableData()">
                        <i class="fas fa-eye"></i> &nbsp; View
                      </button>
                    </div>
                  </div>
                </div>
              </Form>
            </div>
          </div>
          <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
            <e-columns>
              <e-column field='inCheckDateTime' headerText='Check Date Time' width="150">
                <ng-template #template let-data>
                  <div *ngIf="!data.status">
                    <span class="badge" style="background-color: rgb(223, 144, 144);">{{data.inCheckDateTime}}</span>
                  </div>
                  <div *ngIf="data.status">
                    <span class="badge" style="background-color: #519df4;">{{data.inCheckDateTime}}</span>
                  </div>
                </ng-template>
              </e-column>
              <e-column field='inRegNo' headerText='In Check No' [isPrimaryKey]="true" width="150"></e-column>
              <e-column field='inYardID' headerText="Yard" width="150"></e-column>
              <e-column field='inGateID' headerText="Gate" width="100"></e-column>
              <e-column field='areaID' headerText="Area" width="100"></e-column>
              <e-column field='inPCCode' headerText="Category" width="100"></e-column>
              <e-column field='inContainerType' headerText="ContainerType" width="100"></e-column>
              <e-column field='inContainerSize' headerText="ContainerSize" width="100"></e-column>
              <e-column field='inType' headerText="Type" width="100"></e-column>
              <e-column field='inCargoType' headerText="CargoType" width="100"></e-column>
              <e-column field='inCargoInfo' headerText="Cargo Info" width="100"></e-column>
              <e-column field='inNoOfContainer' headerText="No Of Container" width="100"></e-column>
              <e-column field='truckType' headerText="Truck Type" width="100"></e-column>
              <e-column field='truckVehicleRegNo' headerText="Truck No" width="100"></e-column>
              <e-column field='driverName' headerText="Driver Name" width="100"></e-column>
              <e-column field='driverLicenseNo' headerText="Driver License No" width="150"></e-column>
              <e-column field='cardNo' headerText="Card No" width="100"></e-column>
              <e-column field='status' headerText="Status" width="100"></e-column>
              <e-column field='jobCode' headerText="Job Code" width="100"></e-column>
              <e-column field='jobDescription' headerText="Job Description" width="100"></e-column>
              <e-column field='remark' headerText="Remark" width="100"></e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
              <form [formGroup]="proposalForm">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label  class="requiredfield">Truck No</label>
                    <ejs-dropdownlist formControlName="truckVehicleRegNo" tabindex="1" [dataSource]='truckList' [fields]="{ text: 'truckVehicleRegNo', value: 'truckVehicleRegNo' }" (change)="onTruckChange($event.value)" allowFiltering="true" (filtering)='onTruckFiltering($event)' popupHeight='200px'></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("truckVehicleRegNo")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Truck No is required</label>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label  class="requiredfield">Driver LicenseNo</label>
                    <ejs-textbox formControlName="driverLicenseNo" tabindex="3" readonly="true"  popupHeight='200px'></ejs-textbox>
                  </div>
                  <div class="form-group col-md-12">
                    <label  class="requiredfield">Driver Name</label>
                    <ejs-textbox formControlName="driverName" tabindex="4" readonly="true"  popupHeight='200px'></ejs-textbox>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="requiredfield">OutCheck DateTime</label>
                    <ejs-datetimepicker formControlName="outCheckDateTime"></ejs-datetimepicker>
                  </div>
                </div>

              </form>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
  </div>
  </div>
</section>
