<section class="content mt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="true"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
                    <li class="breadcrumb-item active text-info">Trailer Info</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 text-left">
                          <h5 class="card-title">Trailer Info</h5>
                        </div>
                    </div>
                    <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
                        <e-columns>
                            <e-column type='checkbox' width="50"></e-column>
                            <e-column field="vehicleRegNo" headerText='RegNo' [isPrimaryKey]="true" width="150"></e-column>
                            <e-column field="containerType" headerText="ContainerType" width="200"></e-column>
                            <e-column field="transporterID" headerText="Transporter" width="150"></e-column>
                            <!-- <e-column field="trailerWeight" headerText="TrailerWeight" width="150"></e-column> -->
                            <e-column field="lastPassedDate" headerText="LastPassedDate" type="date" format="dd-MM-yyyy" width="200"></e-column>
                            <e-column field='createdDate' headerText='Created Date' type="date" format="dd-MM-yyyy" width="130"></e-column>
                            <e-column field='active' headerText="Active" width="100">
                                <ng-template #template let-data>
                                  <div *ngIf="data.active;else False">Yes</div>
                                  <ng-template #False>
                                    <div>No</div>
                                  </ng-template>
                                </ng-template>
                            </e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
