<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-primary">Truck Status</li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 text-left">
                <h5 class="card-title">Truck Status</h5>
                <Form [formGroup]="optionForm">
                  <div class="row btns mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label for="fromDate" class="col-sm-4 col-form-label requiredfield">Date:</label>
                        <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="fromDate" [format]="formatfilter" floatLabelType='Always'>
                            </ejs-datepicker>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-5 col-12">
                       <div class="row">
                         <label for="toDate" class="col-sm-4 col-form-label requiredfield">To:</label>
                          <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="toDate"   [format]="formatfilter"   floatLabelType='Always'>
                             </ejs-datepicker>
                           </div>
                         </div>
                      </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label class="col-sm-4 col-form-label requiredfield">Yard:</label>
                        <div class="col-sm-8 p-0">
                          <ejs-dropdownlist
                            formControlName="yardID"
                            [dataSource]="yardList"
                            [fields]="{ text: 'yardID', value: 'yardID' }"
                            placeholder="Select Yard"
                            tabindex="4">
                          </ejs-dropdownlist>
                        </div>
                      </div>
                    </div>
                    <!-- Status Field -->
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label class="col-sm-4 col-form-label requiredfield">Status:</label>
                        <div class="col-sm-8 p-0">
                          <ejs-multiselect
                            formControlName="status"
                            [dataSource]="statusList"
                            placeholder="Select Status"
                            [mode]='mode'
                            [placeholder]='placeholder'
                            [selectAllText]='selectAllText'
                            showSelectAll=true
                            tabindex="5">
                          </ejs-multiselect>
                        </div>
                      </div>
                    </div>
                    <!-- View Button -->
                    <div class="col-lg-2 col-12 justify-content-end">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="!optionForm.valid" (click)="loadTableData()">
                        <i class="fas fa-eye"></i> &nbsp; View
                      </button>
                    </div>
                  </div>

                </Form>
              </div>
            </div>
            <div class="total-count" style="margin-bottom: 10px; font-weight: bold;">
              Total Count: {{ getTotalCount() }}
            </div>
              <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true" [allowGrouping]='true' [groupSettings]='groupOptions' [aggregates]="aggregates" [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
                <e-columns>
                <e-column field="truckVehicleRegNo" headerText="Truck No" width="100">
                  <ng-template #template let-data>
                      <div>
                          <span class="badge" [style.background-color]="getBadgeColor(data?.status)">
                            {{ data?.truckVehicleRegNo || 'N/A' }}
                        </span>
                      </div>
                  </ng-template>
                </e-column>
                  <e-column field='driverName' headerText="Driver Name" width="150"></e-column>
                  <e-column field='driverLicenseNo' headerText="Driver License No" width="150"></e-column>
                  <e-column field='driverContactNo' headerText="Driver Contact No" width="150"></e-column>
                  <e-column field='inPCCode' headerText="In Category" width="100"></e-column>
                  <e-column field='groupName' headerText="Group Name" width="150"></e-column>
                  <e-column field='cardNo' headerText="Card No" width="100"></e-column>
                  <e-column field='customer' headerText="Customer" width="150"></e-column>
                  <e-column field='inCheckDateTime' headerText='In Check Date Time' width="150"></e-column>
                  <e-column field='inYardID' headerText="Yard" width="100"></e-column>
                  <e-column field='inGateID' headerText="Gate" width="100"></e-column>
                  <e-column field='areaID' headerText="Area" width="100"></e-column>
                  <e-column field='inType' headerText="In Type" width="100"></e-column>
                  <e-column field='inCargoType' headerText="In CargoType" width="100"></e-column>
                  <e-column field='inCargoInfo' headerText="In Cargo Info" width="100"></e-column>
                  <e-column field='truckType' headerText="Truck Type" width="120"></e-column>
                  <e-column field='inWeightBridgeID' headerText="In WeightBridge" width="150"></e-column>
                  <e-column field='outWeightBridgeID' headerText="Out WeightBridge" width="150"></e-column>
                  <e-column field='inPCCode' headerText="Out Category" width="100"></e-column>
                  <e-column field='inGatePassTime' headerText='In GatePas Time' width="150"></e-column>
                  <e-column field='outCheckDateTime' headerText='Out Check Date Time' width="150"></e-column>
                  <e-column field='outCheckDateTime' headerText='Out GatePas Time' width="150"></e-column>
                  <e-column field='outGateID' headerText="Out Gate" width="100"></e-column>
                  <e-column field='outType' headerText="Out Type" width="100"></e-column>
                  <e-column field='outCargoType' headerText="Out CargoType" width="100"></e-column>
                  <e-column field='outCargoInfo' headerText="Out Cargo Info" width="100"></e-column>
                  <e-column field='status' headerText="Status" width="100"></e-column>
                  <e-column field='inWeightDateTime' headerText="In Weight Date Time" width="150"></e-column>
                  <e-column field='outWeightDateTime' headerText="Out Weight Date Time" width="150"></e-column>
                  <e-column field='optStartDate' headerText="Opt Start Date Time" width="150"></e-column>
                  <e-column field='optEndDate' headerText="Opt End Date Time" width="150"></e-column>
                  <e-column field='grnNo' headerText="GRN No" width="100"></e-column>
                  <e-column field='gdnNo' headerText="GDN No" width="100"></e-column>
                  <e-column field='remark' headerText="Remark" width="100"></e-column>
                  <e-column field='inRegNo' headerText='In Check No' [isPrimaryKey]="true" width="110" [visible]="false"></e-column>
                  <e-column field='outRegNo' headerText='Out Check No' width="110" [visible]="false"></e-column>
                </e-columns>
              </ejs-grid>
              <div class="mt-3">
                <span class="mx-3">Status:</span>
                <span><i class="fa fa-square font-small-2 mr-1" style="color: rgb(248, 144, 32);"></i> In(Check)</span>
                <span class="mx-3"><i class="fa fa-square font-small-2 mr-1" style="color: rgb(171, 127, 195);"></i> In</span>
                <span class="mx-3"><i class="fa fa-square text-orchid font-small-2 mr-1"></i> In(Weight)</span>
                <span class="mx-2"><i class="fa fa-square text-info font-small-2 mr-1"></i> Operation</span>
                <span><i class="fa fa-square text-primary font-small-2 mr-1"></i> Out(Weight)</span>
                <span class="mx-1"><i class="fa fa-square text-mediumSeaGreen font-small-2 mr-1"></i> Out(Check)</span>
                <span class="mx-2"><i class="fa fa-square text-success font-small-2 mr-1"></i> Out</span>
              </div>
              <!-- <div class="row mt-3">
                <div class="col-2 fw-bold">
                  <span>Status :</span>
                </div>
                <div class="col-10">
                  <div>
                    <span><i class="fa fa-square font-small-2 mr-1" style="color: rgb(248, 144, 32);"></i> In(Check)</span>
                    <span class="mx-3"><i class="fa fa-square font-small-2 mr-1" style="color: rgb(171, 127, 195);"></i> In</span>
                    <span class="mx-3"><i class="fa fa-square text-orchid font-small-2 mr-1"></i> In(Weight)</span>
                    <span class="mx-2"><i class="fa fa-square text-info font-small-2 mr-1"></i> Operation</span>
                  </div>
                  <div class="mt-1">
                    <span><i class="fa fa-square text-primary font-small-2 mr-1"></i> Out(Weight)</span>
                    <span class="mx-1"><i class="fa fa-square text-mediumSeaGreen font-small-2 mr-1"></i> Out(Check)</span>
                    <span class="mx-2"><i class="fa fa-square text-success font-small-2 mr-1"></i> Out</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
      </div>
    </div>
    <!-- Start Form -->
    <ejs-dialog #startModal isModal="true"  [showCloseIcon]="true" height="55%" width="400px"  allowDragging="true" [visible]="false">
      <ng-template #header>
        <div class="font-weight-bold">Operation Start Form</div>
      </ng-template>
      <form [formGroup]="startForm">
      <div class="row">
        <div class="form-group col-md-12">
          <label  class="requiredfield">In Check No</label>
          <ejs-textbox formControlName="inRegNo" tabindex="1" readonly="true"></ejs-textbox>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-md-12">
          <label  class="requiredfield">Start Time</label>
          <ejs-timepicker formControlName="optStartDate" [format]="format" [step]="interval" tabindex="2"></ejs-timepicker>
          <div [style.visibility]='validateControl("optStartDate")? "visible": "hidden"'>
            <label class="e-error" style="display: block;">*Start Time is required</label>
          </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-md-6">
          <label>GRN No</label>
          <ejs-numerictextbox formControlName="grNNo" tabindex="3"></ejs-numerictextbox>
        </div>
        <div class="form-group col-md-6">
          <label>GDN No</label>
          <ejs-numerictextbox formControlName="gdNNo" tabindex="4"></ejs-numerictextbox>
        </div>
       </div>
        <ng-template #footerTemplate>
          <button  class="e-edit-dialog e-control e-btn e-lib e-primary e-flat" type="submit" [disabled]="!this.startForm.valid"  ejs-button (click)="onStartOpt()">Save</button>
          <button  class="e-edit-dialog e-control e-btn e-lib e-flat" (click)="startModal.hide()" ejs-button >Close</button>
        </ng-template>
      </form>
    </ejs-dialog>
     <!-- End Form -->
     <ejs-dialog #endModal isModal="true"  [showCloseIcon]="true" height="55%" width="400px"  allowDragging="true" [visible]="false">
      <ng-template #header>
        <div class="font-weight-bold">Operation End Form</div>
      </ng-template>
      <form [formGroup]="endForm">
      <div class="row">
        <div class="form-group col-md-12">
          <label  class="requiredfield">In Check No</label>
          <ejs-textbox formControlName="inRegNo" tabindex="1" readonly="true"></ejs-textbox>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-md-12">
          <label  class="requiredfield">End Time</label>
          <ejs-timepicker formControlName="optEndDate" [format]="format" [step]="interval" tabindex="2"></ejs-timepicker>
          <div [style.visibility]='validateEndControl("optEndDate")? "visible": "hidden"'>
            <label class="e-error" style="display: block;">*End Time is required</label>
          </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-md-6">
          <label>GRN No</label>
          <ejs-numerictextbox formControlName="grNNo" tabindex="3"></ejs-numerictextbox>
        </div>
        <div class="form-group col-md-6">
          <label>GDN No</label>
          <ejs-numerictextbox formControlName="gdNNo" tabindex="4"></ejs-numerictextbox>
        </div>
       </div>
        <ng-template #footerTemplate>
          <button  class="e-edit-dialog e-control e-btn e-lib e-primary e-flat" type="submit" [disabled]="!this.endForm.valid"  ejs-button (click)="onEndOpt()">Save</button>
          <button  class="e-edit-dialog e-control e-btn e-lib e-flat" (click)="endModal.hide()" ejs-button >Close</button>
        </ng-template>
      </form>
    </ejs-dialog>
  </section>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



