<section class="content mt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
            <li class="breadcrumb-item active text-primary">Card</li>
          </ol>
        </div>
      </div>
      <div class="row">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 text-left">
                  <h5 class="card-title">Card</h5>
                </div>
              </div>
              <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines" (rowDataBound)="rowDataBound($event)">
                <e-columns>
                  <e-column field='cardNo' headerText='Card No.' [isPrimaryKey]="true" width="120"></e-column>
                  <e-column field='yardID' headerText="Yard ID" width="150"></e-column>
                  <e-column field='groupName' headerText="Group Name" width="150"></e-column>
                  <e-column field='active' headerText="Active" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.active;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                  <e-column field='isUse' headerText="IsUse" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.isUse;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                </e-columns>
                <ng-template #editSettingsTemplate let-data>
                  <form [formGroup]="cardForm">
                    <div class="form-group col-md-12">
                      <label class="requiredfield font-weight-normal">Yard ID:</label>
                      <ejs-dropdownlist
                              formControlName="yardID"
                              [dataSource]='yardList'
                              [fields]="{ text: 'yardID', value: 'yardID' }"
                              [readonly]="!data.isAdd"
                              autocomplete="off"
                              tabindex="1"
                              maxlength="100"/>
                              <div  [style.visibility]='validateControl("yardID")? "visible": "hidden"'>
                                  <label class="e-error" for="yardID" style="display: block;">*This field is required</label>
                              </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="font-weight-normal requiredfield">Group Name:</label>
                      <ejs-dropdownlist
                                  formControlName="groupName"
                                  [dataSource]="groupNameList"
                                  [readonly]="!data.isAdd"
                                  autocomplete="off"
                                  tabindex="2"
                                  maxlength="100" />
                                  <div [style.visibility]='validateControl("groupName")? "visible": "hidden"'>
                                      <label class="e-error" for="groupName" style="display: block;">*This field is required</label>
                                  </div>
                    </div>
                    <div class="form-group col-md-6" *ngIf="!data.isAdd">
                      <ejs-checkbox 
                          formControlName="active" 
                          label="Active"
                          floatLabelType="Always" 
                          tabindex="3" 
                          [checked]="true">
                      </ejs-checkbox>
                  </div>
                  </form>
                </ng-template>
              </ejs-grid>
            </div>
          </div>
      </div>
    </div>
  </section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  
  
  
  