<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-primary">Out Check(TMS)</li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 text-left">
                <h5 class="card-title">Out Check(TMS)</h5>
                <Form [formGroup]="optionForm">
                  <div class="row btns mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label for="fromDate" class="col-sm-4 col-form-label requiredfield">Date:</label>
                        <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="fromDate" [format]="formatfilter" floatLabelType='Always'>
                            </ejs-datepicker>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-5 col-12">
                       <div class="row">
                         <label for="toDate" class="col-sm-4 col-form-label requiredfield">To:</label>
                          <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="toDate"   [format]="formatfilter"   floatLabelType='Always'>
                             </ejs-datepicker>
                           </div>
                         </div>
                      </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label class="col-sm-4 col-form-label requiredfield">Yard:</label>
                        <div class="col-sm-8 p-0">
                          <ejs-dropdownlist formControlName="yardID" [dataSource]='yardList' [fields]="{ text: 'yardID', value: 'yardID' }" placeholder="Select One"  tabindex="4" ></ejs-dropdownlist>
                        </div>
                      </div>
                      <!-- [mode]='mode' [placeholder]='placeholder' [selectAllText]='selectAllText' showSelectAll=true -->
                    </div>
                    <div class="col-lg-2 col-12 justify-content-end">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="!optionForm.valid" (click)="loadTableData()">
                        <i class="fas fa-eye"></i> &nbsp; View
                      </button>
                    </div>
                  </div>
                </Form>
              </div>
            </div>
            <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
              <e-columns>
                <e-column field='truckVehicleRegNo' headerText="Truck No" width="100">
                  <ng-template #template let-data>
                    <div>
                      <span class="badge" [style.background-color]="getBadgeColor(data?.status)">
                        {{ data?.truckVehicleRegNo || 'N/A' }}
                    </span>
                  </div>
                  </ng-template>
                </e-column>
                <e-column field='driverName' headerText="Driver Name" width="100"></e-column>
                <e-column field='driverLicenseNo' headerText="Driver License No" width="150"></e-column>
                <e-column field='driverContactNo' headerText="Driver Contact No" width="150"></e-column>
                <e-column field='outPCCode' headerText="Category" width="100"></e-column>
                <e-column field='groupName' headerText="Group Name" width="150"></e-column>
                <e-column field='cardNo' headerText="Card No" width="100"></e-column>
                <e-column field='customer' headerText="Customer" width="150"></e-column>
                <e-column field='outCheckDateTime' headerText='Check Date Time' width="150"></e-column>
                <e-column field='outYardID' headerText="Yard" width="150"></e-column>
                <e-column field='outGateID' headerText="Gate" width="100"></e-column>
                <e-column field='areaID' headerText="Area" width="100"></e-column>
                <e-column field='outType' headerText="Type" width="100"></e-column>
                <e-column field='outCargoType' headerText="CargoType" width="100"></e-column>
                <e-column field='outCargoInfo' headerText="Cargo Info" width="100"></e-column>
                <e-column field='truckType' headerText="Truck Type" width="100"></e-column>
                <e-column field='outWeightBridgeID' headerText="Out WeightBridge" width="100"></e-column>
                <e-column field='status' headerText="Status" width="100"></e-column>
                <e-column field='remark' headerText="Remark" width="100"></e-column>
                <e-column field='outRegNo' headerText='Out Check No' [isPrimaryKey]="true" width="90" [visible]="false"></e-column>
              </e-columns>
            </ejs-grid>
            <div class="mt-3">
              <span class="mx-3">Status:</span>
              <span class="mx-3"><i class="fa fa-square text-mediumSeaGreen font-small-2 mr-1"></i> Out(Check)</span>
              <span class="mx-3"><i class="fa fa-square text-gray font-small-2 mr-1"></i> Out</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



