<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-info">Gate In (Check)</li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 text-left">
                <h5 class="card-title">Gate In (Check)</h5>
              </div>
            </div>
            <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
              <e-columns>
                <e-column field='gateID' headerText='Gate ID' [isPrimaryKey]="true" width="90"></e-column>
                <e-column field='name' headerText="Name" width="150"></e-column>
                <e-column field='yardID' headerText="YardID" width="100"></e-column>
                <e-column field='active' headerText="Active" width="100"></e-column>
              </e-columns>
              <ng-template #editSettingsTemplate let-data>
                <form [formGroup]="gateForm">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label  class="required">Yard</label>
                      <ejs-dropdownlist formControlName="inYardID" tabindex="1" [dataSource]='yardList' [fields]="{ text: 'yardID', value: 'yardID' }" allowFiltering="true" (change)="onYardChange($event.value)"  popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inYardID")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Yard is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="required">Gate</label>
                      <ejs-dropdownlist formControlName="inGateID" tabindex="2" [dataSource]='gate' [fields]="{ text: 'gateID', value: 'gateID' }" allowFiltering="true" popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inGateID")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Gate is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="required">Truck Type</label>
                      <ejs-dropdownlist formControlName="truckType" tabindex="3" [dataSource]='truckType' allowFiltering="true" popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("truckType")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Truck is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="truckVehicleRegNo" class="required">TruckVehicle RegNo</label>
                      <ejs-textbox formControlName="truckVehicleRegNo" tabindex="4" autocomplete="off"></ejs-textbox>
                       <div [style.visibility]='validateControl("truckVehicleRegNo")'>
                        <label class="e-error" for="truckVehicleRegNo" style="display: block;">*Truck No is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="truckVehicleRegNo" class="required">TruckVehicle RegNo</label>
                      <ejs-textbox formControlName="truckVehicleRegNo" tabindex="4" autocomplete="off"></ejs-textbox>
                       <div [style.visibility]='validateControl("truckVehicleRegNo")'>
                        <label class="e-error" for="truckVehicleRegNo" style="display: block;">*Truck No is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="trailerVehicleRegNo" class="required">trailerVehicle RegNo</label>
                      <ejs-textbox formControlName="trailerVehicleRegNo" tabindex="4" autocomplete="off"></ejs-textbox>
                       <div [style.visibility]='validateControl("trailerVehicleRegNo")'>
                        <label class="e-error" for="trailerVehicleRegNo" style="display: block;">*trailer No is required</label>
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-6">
                      <label  class="required">PCCode</label>
                      <ejs-dropdownlist formControlName="inpcCode" tabindex="3" [dataSource]='pcCodeList' [fields]="{ text: 'pcCode', value: 'pcCode' }" allowFiltering="true"   popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inpcCode")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*PC Code is required</label>
                      </div>
                    </div> -->
                    <div class="form-group col-md-6">
                      <label  class="required">Container Type</label>
                      <ejs-dropdownlist formControlName="inContainerType" tabindex="4" [dataSource]='containerTypeList' allowFiltering="true"   popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inContainerType")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Containr Type is required</label>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label  class="required">InContainer Size</label>
                      <ejs-dropdownlist formControlName="inContainerSize" tabindex="5" [dataSource]='containerSize' allowFiltering="true"   popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inContainerSize")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Container Size is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6"><br>
                      <ejs-checkbox formControlName="active"  label="Active"  floatLabelType="Always" tabindex="4" [checked]="true"></ejs-checkbox>
                    </div>
                   </div>
                </form>
              </ng-template>
            </ejs-grid>
          </div>
        </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



