<section class="content mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
          <li class="breadcrumb-item active text-primary">In Check(ICD/Other)</li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 text-left">
                <h5 class="card-title">In Check(ICD/Other)</h5>
                <Form [formGroup]="optionForm">
                  <div class="row btns mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label for="fromDate" class="col-sm-4 col-form-label requiredfield">Date:</label>
                        <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="fromDate" [format]="formatfilter" floatLabelType='Always'>
                            </ejs-datepicker>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-5 col-12">
                       <div class="row">
                         <label for="toDate" class="col-sm-4 col-form-label requiredfield">To:</label>
                          <div class="col-sm-8 p-0">
                            <ejs-datepicker formControlName="toDate"   [format]="formatfilter"   floatLabelType='Always'>
                             </ejs-datepicker>
                           </div>
                         </div>
                      </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-lg-5 col-12">
                      <div class="row">
                        <label class="col-sm-4 col-form-label requiredfield">Yard:</label>
                        <div class="col-sm-8 p-0">
                          <ejs-multiselect formControlName="yardID" [dataSource]='yardList' [fields]="{ text: 'yardID', value: 'yardID' }" placeholder="Select One"  tabindex="4" [mode]='mode' [placeholder]='placeholder' [selectAllText]='selectAllText' showSelectAll=true></ejs-multiselect>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-12 justify-content-end">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="!optionForm.valid" (click)="loadTableData()">
                        <i class="fas fa-eye"></i> &nbsp; View
                      </button>
                    </div>
                  </div>
                </Form>
              </div>
            </div>
            <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines">
              <e-columns>
                <e-column field='inCheckDateTime' headerText='Check Date Time' width="150">
                  <ng-template #template let-data>
                    <div *ngIf="!data.status">
                      <span class="badge" style="background-color: rgb(223, 144, 144);">{{data.inCheckDateTime}}</span>
                    </div>
                    <div *ngIf="data.status">
                      <span class="badge" style="background-color: #519df4;">{{data.inCheckDateTime}}</span>
                    </div>
                  </ng-template>
                </e-column>
                <e-column field='inRegNo' headerText='In Check No' [isPrimaryKey]="true" width="150"></e-column>
                <e-column field='inYardID' headerText="Yard" width="150"></e-column>
                <e-column field='inGateID' headerText="Gate" width="100"></e-column>
                <e-column field='areaID' headerText="Area" width="100"></e-column>
                <e-column field='inPCCode' headerText="Category" width="100"></e-column>
                <e-column field='inContainerType' headerText="ContainerType" width="100"></e-column>
                <e-column field='inContainerSize' headerText="ContainerSize" width="100"></e-column>
                <e-column field='inType' headerText="Type" width="100"></e-column>
                <e-column field='inCargoType' headerText="CargoType" width="100"></e-column>
                <e-column field='inCargoInfo' headerText="Cargo Info" width="100"></e-column>
                <e-column field='inNoOfContainer' headerText="No Of Container" width="100"></e-column>
                <e-column field='truckType' headerText="Truck Type" width="100"></e-column>
                <e-column field='truckVehicleRegNo' headerText="Truck No" width="100"></e-column>
                <e-column field='driverName' headerText="Driver Name" width="100"></e-column>
                <e-column field='driverLicenseNo' headerText="Driver License No" width="150"></e-column>
                <e-column field='cardNo' headerText="Card No" width="100"></e-column>
                <e-column field='status' headerText="Status" width="100"></e-column>
                <e-column field='jobCode' headerText="Job Code" width="100"></e-column>
                <e-column field='jobDescription' headerText="Job Description" width="100"></e-column>
                <e-column field='remark' headerText="Remark" width="100"></e-column>
              </e-columns>
              <ng-template #editSettingsTemplate let-data>
                <form [formGroup]="gateForm">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Yard</label>
                      <ejs-dropdownlist formControlName="inYardID" tabindex="1" [dataSource]='yardList' [fields]="{ text: 'yardID', value: 'yardID' }" (change)="onYardChange($event.value)" placeholder="Select One"  popupHeight='200px' ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inYardID")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Yard is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Gate</label>
                      <ejs-dropdownlist formControlName="inGateID" tabindex="2" [dataSource]='gateList' [fields]="{ text: 'gateID', value: 'gateID' }"  popupHeight='200px' placeholder="Select One" ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inGateID")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Gate is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Operation Area</label>
                      <ejs-dropdownlist formControlName="areaID" tabindex="3" placeholder="Select One" [dataSource]='areaList' [fields]="{ text: 'areaID', value: 'areaID' }"  popupHeight='200px' placeholder="Select One" ></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("areaID")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Area is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Truck Type</label>
                      <ejs-dropdownlist formControlName="truckType" tabindex="4" placeholder="Select One" [dataSource]='truckTypeList'  (change)="onTruckTypeChange($event.value)"  popupHeight='200px'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("truckType")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Truck Type is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="truckVehicleRegNo" class="requiredfield">Truck No</label>
                      <ejs-dropdownlist formControlName="truckVehicleRegNo" tabindex="5" placeholder="Enter some keys" [dataSource]='truckList' [fields]="{ text: 'vehicleRegNo', value: 'vehicleRegNo' }" (change)="onTruckChange($event.value)" allowFiltering="true" (filtering)='onTruckFiltering($event)' popupHeight='200px'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("truckVehicleRegNo")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Truck No is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="trailerVehicleRegNo">Trailer No</label>
                      <ejs-dropdownlist formControlName="trailerVehicleRegNo" tabindex="6" [dataSource]='trailerList' [fields]="{ text: 'vehicleRegNo', value: 'vehicleRegNo' }" placeholder="Select One" allowFiltering="true" popupHeight='200px'></ejs-dropdownlist>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Category</label>
                      <ejs-dropdownlist formControlName="inPCCode" tabindex="7" [dataSource]='pcCodeList' [fields]="{ text: 'pcCode', value: 'pcCode' }" allowFiltering="true" placeholder="Select One"  popupHeight='200px'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("inPCCode")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Category is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Driver</label>
                      <ejs-dropdownlist formControlName="driverLicenseNo" tabindex="8" [dataSource]='driverList' placeholder="Enter some keys" [fields]="{ text: 'driverName', value: 'licenseNo' }" allowFiltering="true" (filtering)='onDriverFiltering($event)' popupHeight='200px'></ejs-dropdownlist>
                      <div [style.visibility]='validateControl("driverLicenseNo")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Driver is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label  class="requiredfield">Customer</label>
                      <ejs-textbox formControlName="customer" tabindex="9" [multiline]="true" placeholder="Enter customer" popupHeight='200px'></ejs-textbox>
                      <div [style.visibility]='validateControl("customer")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Customer is required</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Transporter</label>
                      <ejs-dropdownlist formControlName="transporterID" tabindex="10" [dataSource]='transporterList' placeholder="Select One" [fields]="{ text: 'transporterName', value: 'transporterID' }"  allowFiltering="true"   popupHeight='200px'></ejs-dropdownlist>
                    </div>
                   </div>
                </form>
              </ng-template>
            </ejs-grid>
          </div>
        </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



