<section class="content mt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
            <li class="breadcrumb-item active text-info">Category</li>
          </ol>
        </div>
      </div>
      <div class="row">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 text-left">
                  <h5 class="card-title">Category</h5>
                </div>
              </div>
              <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines" (rowDataBound)="rowDataBound($event)">
                <e-columns>
                  <e-column field='pcCode' headerText='Category Code' [isPrimaryKey]="true" width="120"></e-column>
                  <e-column field='categoryName' headerText="Category Name" width="150"></e-column>
                  <e-column field='inboundWeight' headerText="Inbound Weight" width="150"></e-column>
                  <e-column field='outboundWeight' headerText="Outbound Weight" width="150"></e-column>
                  <e-column field='groupName' headerText="Group Name" width="150"></e-column>
                  <e-column field='active' headerText="Active" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.active;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                </e-columns>
                <ng-template #editSettingsTemplate let-data>
                  <form [formGroup]="categoryForm">
                    
                    <div class="row my-0">
                        <label class="col-md-2 requiredfield">Category Code:</label>
                        <div class="form-group col-md-4">
                            <ejs-textbox
                                formControlName="pcCode"
                                class="form-control form-control-sm uppercase-input"
                                placeholder="Enter Category Code"
                                autocomplete="off"
                                tabindex="1"
                                (change)="toUpperCase($event)"
                                maxlength="100"/>
                                <div  [style.visibility]='validateControl("pcCode")? "visible": "hidden"'>
                                    <label class="e-error" for="pcCode" style="display: block;">*Category Code is required</label>
                                </div>
                        </div>
                        <label class="col-md-2 requiredfield">Category Name:</label>
                        <div class="form-group col-md-4">
                            <ejs-textbox
                                formControlName="categoryName"
                                class="form-control form-control-sm"
                                placeholder="Enter Category Name"
                                autocomplete="off"
                                tabindex="2"
                                maxlength="100"/>
                                <div  [style.visibility]='validateControl("categoryName")? "visible": "hidden"'>
                                    <label class="e-error" for="categoryName" style="display: block;">*CategoryName is required</label>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">Inbound Weight:</label>
                        <div class="form-group col-md-4">
                            <ejs-textbox
                                formControlName="inboundWeight"
                                class="form-control form-control-sm"
                                placeholder="Enter Inbound Weight"
                                autocomplete="off"
                                tabindex="3"
                                maxlength="100" />
                                <!-- <div  [style.visibility]='validateControl("inboundWeight")? "visible": "hidden"'>
                                    <label class="e-error" for="inboundWeight" style="display: block;">*Inbound Weight is required</label>
                                </div> -->
                        </div>
                        <label class="col-md-2">Outbound Weight:</label>
                        <div class="form-group col-md-4">
                            <ejs-textbox
                                formControlName="outboundWeight"
                                class="form-control form-control-sm"
                                placeholder="Enter Outbound Weight"
                                autocomplete="off"
                                tabindex="4"
                                maxlength="100"/>
                                <!-- <div  [style.visibility]='validateControl("outboundWeight")? "visible": "hidden"'>
                                    <label class="e-error" for="outboundWeight" style="display: block;">*Outbound Weight is required</label>
                                </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2">Group Name:</label>
                        <div class="form-group col-md-4">
                            <ejs-dropdownlist
                                formControlName="groupName"
                                [dataSource]="groupNameList"
                                class="form-control form-control-sm"
                                placeholder="Choose Group Name"
                                autocomplete="off"
                                tabindex="5"
                                maxlength="100" />
                                <div  [style.visibility]='validateControl("groupName")? "visible": "hidden"'>
                                    <label class="e-error" for="groupName" style="display: block;">*Group Name is required</label>
                                </div>
                        </div>
                        <div class="form-group col-md-6"><br>
                            <ejs-checkbox formControlName="active"  label="Active"  floatLabelType="Always" tabindex="6" [checked]="true"></ejs-checkbox>
                        </div>
                    </div>
                  </form>
                </ng-template>
              </ejs-grid>
            </div>
          </div>
      </div>
    </div>
  </section>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  
  
  
  