<section class="content mt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="true"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
                    <li class="breadcrumb-item active text-primary">Transporter</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 text-left">
                          <h5 class="card-title">Transporter</h5>
                        </div>
                    </div>
                    <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines" (rowDataBound)="rowDataBound($event)">
                        <e-columns>
                            <!-- <e-column type='checkbox' width="50"></e-column> -->
                            <e-column field="transporterID" headerText='TCode' [isPrimaryKey]="true" width="150"></e-column>
                            <e-column field="transporterName" headerText="Transporter Name" width="200"></e-column>
                            <e-column field="address" headerText="Address" width="150"></e-column>
                            <e-column field="contactNo" headerText="ContactNo." width="150"></e-column>
                            <e-column field="email" headerText="Email" width="150"></e-column>
                            <e-column field="typeID" headerText="Transporter Type" width="200"></e-column>
                            <e-column field='createdDate' headerText='Created Date' type="date" format="dd-MM-yyyy" width="130"></e-column>
                            <e-column field='active' headerText="Active" width="100">
                                <ng-template #template let-data>
                                  <div *ngIf="data.active;else False">Yes</div>
                                  <ng-template #False>
                                    <div>No</div>
                                  </ng-template>
                                </ng-template>
                            </e-column>
                            <e-column field='isBlack' headerText='IsBlack'  width="90">
                                <ng-template #template let-data>
                                  <div *ngIf="data.isBlack;else False">Yes</div>
                                  <ng-template #False>
                                    <div>No</div>
                                  </ng-template>
                                </ng-template>
                              </e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Black Form -->
<ejs-dialog #blackModal isModal="true"  [showCloseIcon]="true" width="480px"  allowDragging="true" [visible]="false" >
    <ng-template #header>
      <div class="font-weight-bold">Is Black Form</div>
    </ng-template>
    <form [formGroup]="blackForm" (ngSubmit)="onBlackFormSubmit()">
      <div class="form-group col-md-12 " hidden>
        <div class="e-float-input e-control-wrapper">
          <input formControlName="transporterID"  type="text" readonly="true" autocomplete="off">
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="transporterID">TransporterID</label>
        </div>
      </div>
      <div class="row my-0">
        <div class="form-group col-md-6"><br>
            <ejs-checkbox formControlName="isBlack" label="IsBlack" class="font-weight-normal" floatLabelType="Always" tabindex="1" [checked]="true"></ejs-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12" *ngIf="this.isShow">
          <label class="col">Black Date</label>
          <ejs-datepicker formControlName="blackDate" autocomplete="off" type="date" format="dd-MMM-yyyy" tabindex="2"  ></ejs-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12" *ngIf="!this.isShow">
          <label class="col">Black Removed Date</label>
          <ejs-datepicker formControlName="blackRemovedDate" autocomplete="off" type="date" format="dd-MMM-yyyy" tabindex="2"  ></ejs-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12" *ngIf="this.isShow">
          <label class="col">Black Reason</label>
          <textarea formControlName="blackReason" autocomplete="off" class="form-control form-control-sm" tabindex="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12" *ngIf="!this.isShow">
          <label class="col">Black Removed Reason</label>
          <textarea formControlName="blackRemovedReason" autocomplete="off" class="form-control form-control-sm" tabindex="4"></textarea>
        </div>
      </div>
      
      <ng-template #footerTemplate>
        <button type="submit"  class="e-edit-dialog e-control e-btn e-lib e-primary e-flat" ejs-button (click)="onBlackFormSubmit()">Save</button>
        <button  class="e-edit-dialog e-control e-btn e-lib e-flat" (click)="hideDialog()" ejs-button >Cancel</button>
      </ng-template>
    </form>
  </ejs-dialog>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
