<section class="content mt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li>
            <li class="breadcrumb-item active text-primary">Document Setting</li>
          </ol>
        </div>
      </div>
      <div class="row">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 text-left">
                  <h5 class="card-title">Document Setting</h5>
                </div>
              </div>
              <ejs-grid #Grid [dataSource]="data" [allowResizing]="true" [allowSorting]="true" [allowPaging]="true"  [pageSettings]='pageSettings' [editSettings]="editSettings"  [allowExcelExport]='true' [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (toolbarClick)='toolbarClick($event)' [gridLines]="lines" (rowDataBound)="rowDataBound($event)">
                <e-columns>
                  <e-column field='docCode' headerText='Document Code' [isPrimaryKey]="true" width="100"></e-column>
                  <e-column field='docName' headerText="Document Name" width="150"></e-column>
                  <e-column field='pcCode' headerText="CategoryCode" width="100"></e-column>
                  <e-column field='active' headerText="Active" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.active;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                  <e-column field='isInDoc' headerText="IsInDoc" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.isInDoc;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                  <e-column field='isOutDoc' headerText="IsOutDoc" width="100">
                    <ng-template #template let-data>
                      <div *ngIf="data.isOutDoc;else False">Yes</div>
                      <ng-template #False>
                        <div>No</div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                </e-columns>
                <ng-template #editSettingsTemplate let-data>
                  <form [formGroup]="docForm">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="docCode" class="font-weight-normal requiredfield">Document Code</label>
                        <ejs-textbox formControlName="docCode" tabindex="1" autocomplete="off" class="text-uppercase" [readonly]="!data.isAdd"></ejs-textbox>
                        <div  [style.visibility]='validateControl("docCode")? "visible": "hidden"'>
                          <label class="e-error" for="docCode" style="display: block;">*This field is required</label>
                        </div>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="docName" class="font-weight-normal requiredfield">Document Name</label>
                        <ejs-textbox formControlName="docName" tabindex="2" autocomplete="off"></ejs-textbox>
                        <div [style.visibility]='validateControl("docName")? "visible": "hidden"'>
                          <label class="e-error" for="docName" style="display: block;">*This field is required</label>
                        </div>
                      </div>
                     </div>
                     <div class="form-row">
                      <div class="form-group col-md-12">
                        <label class="font-weight-normal requiredfield">Category Code</label>
                        <ejs-dropdownlist
                                  formControlName="pcCode"
                                  [dataSource]='categoryList'
                                  [fields]="{ text: 'categoryName', value: 'pcCode' }"
                                  placeholder="Select One"
                                  autocomplete="off"
                                  tabindex="3" />
                                  <div [style.visibility]='validateControl("pcCode")? "visible": "hidden"'>
                                    <label class="e-error" for="pcCode" style="display: block;">*This field is required</label>
                                  </div>
                       </div>
                     </div>
                     <div class="row">
                      <div class="form-group col-md-6"><br>
                        <ejs-checkbox formControlName="active"  label="Active"  floatLabelType="Always" tabindex="4" [checked]="true"></ejs-checkbox>
                      </div>
                      <div class="form-group col-md-6"><br>
                        <ejs-checkbox formControlName="attachRequired"  label="AttachRequired"  floatLabelType="Always" tabindex="5" [checked]="true"></ejs-checkbox>
                      </div>
                     </div>
                     <div class="row">
                      <div class="form-group col-md-6"><br>
                        <ejs-checkbox formControlName="isInDoc"  label="IsInDoc"  floatLabelType="Always" tabindex="6" [checked]="true"></ejs-checkbox>
                      </div>
                      <div class="form-group col-md-6"><br>
                        <ejs-checkbox formControlName="isOutDoc"  label="IsOutDoc"  floatLabelType="Always" tabindex="7" [checked]="true"></ejs-checkbox>
                      </div>
                     </div>
                  </form>
                </ng-template>
              </ejs-grid>
            </div>
          </div>
      </div>
    </div>
  </section>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  
  
  
  